footer {
    background-color: #0056b3;
    color: white;
    text-align: center;
    padding: 15px;
    position: sticky;
    bottom: 0;
    width: 98%;
    margin-top: 15px;
    font-size: 16px;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

/* Responsività */
@media screen and (max-width: 600px) {
    footer {
        font-size: 12px;
    }
}