.loginPopup {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: flex-end;
    align-items: flex-start; 
    z-index: 99;
}

.loginPopup-content {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.loginPopup-content h2 {
    margin-top: 0;
    color: #0f0f0f;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #888;
}

.close-button:hover {
    color: #333;
}

.loginPopup-content input {
    width: 100%;
    padding: 10px;
    margin: 10px -10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.loginPopup-content input[type="submit"] {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.loginPopup-content input[type="submit"]:hover {
    background-color: #2980b9;
}

.loginPopup-content label {
    color: #2c3e50; 
    font-weight: bold; 
    display: block; 
    margin-bottom: 5px; 
    font-size: 16px; 
}

.loginPopup-content span {
    display: block; 
    margin-top: 15px; 
    color: #7f8c8d; 
    font-size: 14px; 
}

.loginPopup-content span a {
    color: #3498db;
    text-decoration: none;
}

.loginPopup-content span a:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
    font-size: 14px;
    text-align: left; 
    margin-top: 10px; 
    margin-bottom: 10px; 
}

/*  ----    Responsività    ----     */
@media (max-width: 768px) {
    .loginPopup {
        justify-content: center;
        align-items: center;
    }

    .loginPopup-content {
        width: 90%;
        max-width: 350px;
        margin: 10px;
    }

    .loginPopup-content input {
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    .loginPopup-content {
        padding: 15px;
    }

    .loginPopup-content h2 {
        font-size: 20px;
    }

    .loginPopup-content input {
        padding: 8px;
    }

    .loginPopup-content input[type="submit"] {
        padding: 8px 16px;
        font-size: 14px;
    }

    .loginPopup-content label {
        font-size: 14px;
    }

    .loginPopup-content span {
        font-size: 12px;
    }

    .error-message {
        font-size: 12px;
    }
}