/*  ----    Popup   ----    */

.profilePopup {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: flex-end;
    align-items: flex-start;
    z-index: 99;
    padding: 10px; 
    box-sizing: border-box; 
}

.profilePopup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 90%; 
    max-width: 350px;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box; 
}

.profilePopup-content h2 {
    margin-top: 0;
    color: #2c3e50;
}

.profilePopup-content p {
    margin: 10px 0;
    font-size: 18px;
    color: #34495e;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profilePopup-content p strong {
    font-weight: bold;
    color: #2c3e50;
    margin-right: 10px;
    min-width: 80px; 
}

.profilePopup-content p span {
    font-weight: normal;
    color: #2c3e50;
}

/*  ----    Pulsanti     ----    */

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #888;
}

.close-button:hover {
    color: #333;
}

.profilePopup-content input {
    width: 100%;
    padding: 10px;
    margin: 10px -10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.profilePopup-content input[type="submit"] {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.profilePopup-content input[type="submit"]:hover {
    background-color: #2980b9;
}

.profilePopup-content span a {
    color: #3498db;
    text-decoration: none;
}

.profilePopup-content span a:hover {
    text-decoration: underline;
}

.edit-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #1e8449;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: block;
}

.admin-link {
    margin-top: 40px;
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 89%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: block;
    text-align: center;
    text-decoration: none;
}

.admin-link:hover {
    background-color: #003f7f;
}

/*  ----    Immagini  ----    */

.edit-button:hover {
    background-color: #1a6b3a;
}

.profile-image {
    width: 150px;        
    height: 150px;      
    border-radius: 50%;
    object-fit: cover;    
    margin-bottom: 20px;  
}


.profile-image-wrapper {
    position: relative;
    display: inline-block;
}

.admin-badge {
    position: absolute;
    width: 40px; 
    height: 40px;
}

/*  ----    Responsività    ----     */
@media (max-width: 768px) {
    .profilePopup {
        justify-content: center;
        align-items: center;
    }

    .profilePopup-content {
        width: 90%; /* Assicurati che il popup non tocchi i bordi */
        max-width: 350px;
        padding: 15px; /* Riduci il padding per schermi medi */
        margin: 10px; /* Aggiungi margine per ulteriore sicurezza */
    }

    .profilePopup-content p {
        font-size: 16px;
        flex-direction: column;
        align-items: flex-start;
    }

    .profilePopup-content p strong {
        margin-bottom: 5px;
    }
}

@media (max-width: 480px) {
    .profilePopup-content {
        width: 90%; /* Anche su schermi molto piccoli, lascia spazio ai lati */
        padding: 15px;
        margin: 10px;
    }

    .profilePopup-content h2 {
        font-size: 20px;
    }

    .profilePopup-content p {
        font-size: 14px;
    }

    .profilePopup-content input {
        padding: 8px;
    }

    .profilePopup-content input[type="submit"] {
        padding: 8px 16px;
        font-size: 14px;
    }

    .edit-button, .admin-link {
        font-size: 14px;
        padding: 8px 16px;
    }

    .profile-image {
        width: 100px;
        height: 100px;
    }
}